{% load static %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'profile.css' %}">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card user-card">
                    <div class="card-header">
                        <h3>Profile</h3>
                    </div>
                    <div class="card-block">
                        <div class="user-image">
                            <img src="https://bootdey.com/img/Content/avatar/avatar7.png" class="img-radius" alt="User-Profile-Image">
                        </div>
                        <h5 class="f-w-600 m-t-25 m-b-10">Welcome,{{user.username}}</h5>
                        <p class="text-muted">Active | {{user.email}}</p>
                        <hr>
                        <p class="text-muted m-t-15">{{user.mobno}}</p>
                        <ul class="list-unstyled activity-leval">
                            <li class="active"></li>
                            <li class="active"></li>
                            <li class="active"></li>
                            <li></li>
                            <li></li>
                        </ul>
                        <div class="bg-c-blue counter-block m-t-10 p-20">
                            <div class="row">
                                <div class="col-4">
                                    <i class="fa fa-comment"></i>
                                    <p><a href="{% url 'coinstore' %}">Get Notified About Your Favourite coin</a></p>
                                </div>
                                <div class="col-4">
                                    <i class="fa fa-user"></i>
                                    <p><a href="{% url 'logoutme' %}">LOGOUT</a>
                                </div>
                                
                                
                            </div>
                        </div>
                        
                        <hr>
                        
                    </div>
                </div>
            </div>
            </div>
            </div>
<!--<div>
    {% if messages %}
    {% for message in messages %}
        {% if message.tags == 'success'%}
            <script>M.toast({html: "{{message}}", classes: 'green rounded', displayLength:2000});</script>
        {% elif message.tags == 'info'%}
            <script>M.toast({html: "{{message}}", classes: 'blue rounded', displayLength:2000});</script>
        {% elif message.tags == 'warning'%}
            <script>M.toast({html: "{{message}}", classes: 'orange rounded', displayLength:10000});</script>
        {% elif message.tags == 'error'%}
            <script>M.toast({html: "{{message}}", classes: 'red rounded', displayLength:10000});</script>
        {% endif %}
    {% endfor %}
        {%else%}
        <p>No messages</p>
        {% endif %}
    </div>
 <h2>Welcome, {{user.username}}</h2>
 <h3>{{user.email}}</h3>
  <h3>{{user.mobno}}</h3>
  <a href="{% url 'logoutme' %}"><button>Click to Logout!</button></a>
  <a href="{% url 'coinstore' %}"><h4>Notification update</h4></a>-->
 </body>
    </html>